# This is a timer used to regularly trigger the data transfer
# https://wiki.archlinux.org/title/systemd/Timers

[Unit]
# Descriptive name for the timer
Description=Run lftp sync job every minute
# Set the timer to repeat continuously
Documentation=man:systemd.timer(5)

[Timer]
# The time period between runs: trigger the timer unit every x minutes
Interval=5min
# Wait x minutes (monotonic timer) between runs
OnUnitActiveSec=1min

# Immediately trigger the service after enabling the timer
OnBootSec=1

[Install]
WantedBy=multi-user.target
